<header>
  <div class="name" href="/">Form</div>
  <nav>
    <ul class="navlinks">
      <li><a href="/">Home</a></li>
    </ul>
  </nav>
</header>

<div class="container">
  <div class="form-container">
    <div class="form-title">Subject Form</div>
    <form action="/" method="post" class="form">

      <label for="subject_code">Subject Code</label><br />
      <input type="text" name="subject_code" required /><br />

      <label for="subject_name">Subject Name</label><br />
      <input type="text" name="subject_name" required /><br />

      <label for="inst_name">Institute Name</label><br />
      <input type="text" name="inst_name" required /><br />

      <label for="dept_name">Department Name</label><br />
      <input type="text" name="dept_name" required /><br />

      <label for="sem">Semester</label><br />
      <select name="sem" id="sem">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
      </select>

      <div id="form-button">
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
<footer>
  <div class="footer-container">
    <div class="footer-content">made by <b>19CE044</b></div>
  </div>
</footer>