<header>
    <div class="name" href="/">Jaipal</div>
    <nav>
        <ul class="navlinks">
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/signin">Login</a></li>
        </ul>
    </nav>
</header>

<div class="home-container">
    <div class="home-heading">
        Jaipal Jadeja
    </div>
    <br />
    <div class="home-sub-heading">
        19CE044
    </div>
</div>

<footer>
    <div class="footer-container">
        <div class="footer-content">made by <b>jaipaljadeja</b></div>
    </div>
</footer>